@charset "UTF-8" ;

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
        height: 280px;
    }

    section#login > div#image {
        float: left;
        width: 30%;
        height: 100%;
        background-position: top;
    }

    section#login > div#forma {
        float: right;
        width: 65%;
        height: 100%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
        height: 400px;
    }

    section#login > div#image {
        float: right;
        width: 40%;
        height: 100%;
        background-position: bottom;
    }

    section#login > div#forma {
        float: left;
        width: 55%;
        height: 100%;
    }

    div#forma > h1 {
        font-size: 2.2em;
        margin-bottom: 20px;
    }

    div#forma > p {
        font-size: 1.1em;
        margin-bottom: 30px;
    }
    
}
