@charset "UTF-8" ;

/* todas as demais mídias */
/* Typical Device Breakpoints
Small devices:   max 600px 
Mobile:              600px - 768px
Tablet:              768px - 992px    
Desktop:             992px - 1200px
Extra large devices: 1200px + 
*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    header{
        height: 600px;
    }

    div.container02{
        display: flex;
        flex-wrap: wrap;
        margin-left: 100px;
       
    }

    div.item02{
        flex-basis: calc(50% - 20px);
        margin: auto;
        margin: 50px 10px;
    }

    img.images {
        width: 20vw;
    }

    div.item02 > p {
        margin-right: 10px;
        padding-top: 0px;
        font-size: 0.8em;
    }
    
}

@media screen and (min-width: 992px){
    span#burguer{
        display: none;
    }
    header{
        height: 100vh;
    }

    header#img01{
        position: relative;
        z-index: 1;
        background-position: center bottom;   
    }

    menu{
        display: block;
        position: absolute;
        z-index: 2;
        margin-left: 40px;
        background-color: transparent;
    }

    menu > ul > li{
        display: inline-block;
    }

    menu > ul > li > a{
        color: white; 
    }

    menu > ul > li > a:hover{
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        transform: translate(-2px , -2px);
        transition: transform 0.5s;
    }
    menu > ul > li > a:active{
        transform: translate(0px , 0px);
    }

    header > h1{
        top: 55%;
    }

    header > p{
        top: 62%;
        left: 50%;
    }

    main > h2{
        display: inline-block;
        margin: 40px 20px 0px 100px;
        text-align: right;
        font-size: 4em;
        
    }

    main > p{ 
        display: inline-block;
        max-width: 40vw;
        min-width: 30vw;
        padding: 10px;
        vertical-align: top;
        padding: 30px;
    }

    #paragrafo{
        display: block;
        margin-left: 425px;
        margin-top: -30px;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        margin-left: 100px;
       
    }

    div.item {
        flex-basis: calc(33.33% - 20px);
        margin-right: 20px;
    }

      .image {
        display: block;
        max-width: 100%;
    }

    p{
        margin-top: 5px;
        text-align: center;
    }

    div> p > a{
        margin-top: 30px;
    }

    div.container02{
        display: flex;
        flex-wrap: wrap;
        margin-left: 100px;
       
    }

    div.item02{
        flex-basis: calc(50% - 20px);
        margin: auto;
        margin-top: 110px;
        margin-bottom: 110px;
    }

    img.images {
        width: 20vw;
    }

    div.item02 > p {
        padding-top: 30px;
        text-align: left;
    }

    div.images02{
        margin-left: 300px;
        margin-top: 110px;
        
    }

    div.images02 > img#about01 {
        width: 20vw;
    }

    div.images02 > img#about02 {
        width: 30vw;
    }

    section.about-me > p {
        margin: auto;
        max-width: 50vw;
    }

    
  
}



@media screen and (min-width: 1270px){

    header > h1{
        font-size: min(5.5vw, 5.6vw);
    }

    main > h2{
        display: inline-block;
        margin: 40px 20px 0px 250px;
        text-align: right;
        font-size: 4em;
        
    }

    main > p{ 
        display: inline-block;
        max-width: 40vw;
        min-width: 30vw;
        padding: 10px;
        vertical-align: top;
        padding: 30px;
    }

    #paragrafo{
        display: block;
        margin-left: 575px;
        margin-top: -30px;
    }
}