@charset "UTF-8" ;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --font-tittle: 'Playfair Display', serif;
    --font-text: 'Raleway', sans-serif;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
}

html, body{
    width: 100vw;
    height: 100vh;
}
p{
    line-height: 1.7em;
}

nav{
    text-align: right;
}

span#burguer{
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 45px;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li, a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.123);
}
menu > ul > li > a#log{
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

menu > ul > li > a#log:hover{
    background-color: rgb(37, 37, 37);
}

menu > ul > li > a:hover{
    text-decoration: underline;
    background-color: rgba(245, 242, 242, 0.603);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212);
    border-radius: 5px;
}

menu > ul > li > a:active{
    transform: translate(-2px , -2px);
    transition: transform 0.1s;
}


header{
    width: 100vw;
    height: 60vh;
}

header#img01{
    position: relative;
    background-image: url(../images/yoga01.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.199);
}


header> h1{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 4.4em;
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    line-height: 1em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.226);
}

header> p{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 47%;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1em; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.096);
    text-align: center;
    word-spacing: 0.1px;
    
}

main{
    padding: 20px;
    margin-top: 30px;
    width: 90vw;
}

main > h2{
    max-width: 300px;
    font-size: 3.5em;
    font-weight: 200;
    font-family: 'Playfair Display', serif;
    line-height: 1em;
    font-variant: small-caps;
    font-style: italic;
    margin-bottom: 70px;
}

main > p {
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}



h2.sub{
    font-size: 3em;
    margin-top: 100px;
    text-align: center; 
    font-family: 'Playfair Display', serif;
    font-variant: small-caps;
    font-weight: 200;
    margin-bottom: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.212);
}

.image{
    width: 90vw;
    background-attachment: fixed;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    
}

h3{
    font-size: 1.5em;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-top: 20px; 
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

div > p{
    margin-top: 10px;
}

div > p > a{
    font-size: 0.8em;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 100px;
    padding: 0px;
    
}

div.container{
    margin-bottom: 150px;
}

img.images{
    float: left;
    width: 200px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.450);
}

section#students > p {
    margin-bottom: 200px;
}


p > span.name{
    padding-top: 30px;
    font-weight: bold;
    display: block;
}

div.images02{
    display: inline-block;
    
}

div.images02 > img#about01{
    width: 100px;
    margin-right: 80px;
    vertical-align: middle;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.450);
}

div.images02 > img#about02{
    width: 200px;
    vertical-align: middle;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
}

section.about-me > p{
    margin: 50px 0px 0px 186px;
    font-weight: lighter;
}

footer{
    margin-top: 200px;
    border-top: 1px solid black;
    padding: 30px;
    background-color: #202020;
    color: white;
    text-align: center;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.76);
}

footer a{
    display: inline;
    color: white;
    text-decoration: underline;
}

footer p{
    margin-top: 10px;
    line-height: 1em;
}
