<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css" media="all">
    <link rel="stylesheet" href="styles/media-queries.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Meet</title>
</head>
<body onresize="changeSize()">
    <nav>
    <span id="burguer" class="material-icons" onclick="clickMenu()">menu</span>
        <menu id="icons">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Online Courses</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Book Class</a></li>
                <li><a id="log" href="login.html">Login</a></li>
            </ul>
        </menu>
    </nav>
    
    <header id="img01">
        <h1>MEET DÉBORA</h1>
        <p>CERTIFIED YOGA TEACHER</p>
    </header>

    <main>
            <h2>Breathe in lots of love</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sint quidem soluta asperiores est enim facere dignissimos assumenda tenetur aliquam pariatur nobis, autem, harum atque eveniet eius deserunt odio libero. <q>Lorem ipsum dolor sit amet consectetur adipisicing elit</q>. Vel excepturi aspernatur explicabo incidunt mollitia animi harum dignissimos amet ea at. Perferendis atque optio illo eius voluptas! Mollitia laboriosam voluptatibus sequi!</p>

            <p id="paragrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat mollitia soluta error ex illum voluptas nam, natus fuga autem dolore magni nisi minus cum, odio exercitationem hic velit, labore quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sint beatae veniam fugiat non adipisci quidem excepturi quam quis illo dolorem quia dolorum delectus iure, doloremque tenetur nostrum molestias esse?</p>
        
        <section>
            <h2 class="sub">yoga classes</h2>

            <div class="container">
                <div class="item">
                    <img class="image" src="images/yoga02.jpg" alt="mulher meditando">
                    <h3>Online yoga</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat hic ex eaque repellat quos. Unde, a nisi vitae distinctio eaque obcaecati quisquam nemo, asperiores amet eveniet aperiam recusandae nostrum magni.</p>
                    <p><a href="">LEARN MORE > </a></p>
                </div>
            
                <div class="item">
                    <img class="image" src="images/yoga03.jpg" alt="mulher fazendo yoga">
                    <h3>Group yoga</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro harum, nulla nihil tempore vero iusto velit pariatur saepe suscipit aspernatur quis in tempora esse quisquam. Tempora consequuntur vel in repellendus!</p>
                    <p><a href="">LEARN MORE > </a></p>
                </div>
            
                <div class="item">
                    <img class="image" src="images/yoga05.jpg" alt="yoga">
                    <h3>Yoga Fire</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat hic ex eaque repellat quos. Unde, a nisi vitae distinctio eaque obcaecati quisquam nemo, asperiores amet eveniet aperiam recusandae nostrum magni.</p>
                    <p><a href="">LEARN MORE ></a></p>
                </div>
            </div>

            <h2 class="sub">online courses</h2>

            <div class="container">

                <div class="item">
                    <img class="image" src="images/yoga03.jpg" alt="yoga">
                    <h3>Advanced yoga</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat hic ex eaque repellat quos. Unde, a nisi vitae distinctio eaque obcaecati quisquam nemo, asperiores amet eveniet aperiam recusandae nostrum magni.</p>
                    <p><a href="">LEARN MORE ></a></p>
                </div>
                
                <div class="item">
                    <img class="image" src="images/yoga05.jpg" alt="yoga">
                    <h3>Pranayama for begginers</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat hic ex eaque repellat quos. Unde, a nisi vitae distinctio eaque obcaecati quisquam nemo, asperiores amet eveniet aperiam recusandae nostrum magni.</p>
                    <p><a href="">LEARN MORE ></a></p>
                </div>

                <div class="item">
                    <img class="image" src="images/yoga02.jpg" alt="mulher meditando">
                    <h3>Yoga for begginers</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat hic ex eaque repellat quos. Unde, a nisi vitae distinctio eaque obcaecati quisquam nemo, asperiores amet eveniet aperiam recusandae nostrum magni.</p>
                    <p><a href="">LEARN MORE > </a></p>
                </div>
            </div>
        </section>
    
        <section id="students">
            <h2 class="sub">my students say</h2>

            <div class="container02">
                <div class="item02">
                <img src="images/students01.jpg" alt="estudante de yoga" class="images">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna sit amet purus gravida quis. <span class="name">- Josiscreuda</span></p>
                </div>
                <div class="item02">
                <img src="images/students02.jpg" alt="estudante de yoga" class="images">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna sit amet purus gravida quis.<span class="name">- Jessie</span></p>
                </div>
                <div class="item02">
                <img src="images/students03.jpg" alt="estudante de yoga" class="images">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna sit amet purus gravida quis. <span class="name">- David</span></p>
                </div>
            </div>
        </section>
        
        <section class="about-me">
            <h2 class="sub">about me</h2>
                <div class="images02">
                    <img id="about01" src="images/about-me01.jpg" alt="sacola de compras">
                    <img id="about02" src="images/about-me02.jpg" alt="pessoa">
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit perferendis dicta exercitationem, veritatis cum deleniti voluptatum perspiciatis aspernatur maxime facilis. Voluptatum eligendi eos accusantium. <strong>Odio deleniti</strong> doloribus saepe consectetur sit! Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus exercitationem adipisci temporibus mollitia aut dicta facilis <q>consequatur soluta</q>. Quis ipsa iusto at voluptatem iure! Quam dicta expedita minus consectetur fugiat?</p>

                <p>Lorem ipsum <q>dolor sit amet consectetur adipisicing elit</q>. Tenetur quod vero, at nostrum ratione illo error quam provident expedita fugiat, distinctio odio libero exercitationem ea neque. Nesciunt dolore laboriosam voluptates. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque corrupti deserunt illum laudantium veniam magni sapiente doloremque?.</p>
        </section>

    </main>
    <footer>
        <h4>Criado por <strong>Lucas F. Vilas Boas</strong></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est debitis molestiae quaerat repudiandae sequi ea tenetur incidunt officiis aut consectetur quidem, nulla voluptatum et. Laudantium officiis suscipit natus a illum.</p>
        <p>Imagens<a href="https://unsplash.com/" target="_blank" rel="external">unsplash</a></p>
        <p>Para o<a href="https://www.cursoemvideo.com/">cursoemvideo</a></p>
    </footer>

    <script>
        function changeSize() {
            if (window.innerWidth >= 992) {
                icons.style.display = 'block'
            } else{
                icons.style.display = 'none'
            }
        }
        function clickMenu() {
            if (icons.style.display == 'block') {
                icons.style.display = 'none'
            } else {
                icons.style.display = 'block'
            }
        }
    </script>
</body>
</html>