<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css" media="all">
    <link rel="stylesheet" href="styles/media-queries.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>template</title>
</head>
<body onresize="changeSize()">
    <nav>
    <span id="burguer" class="material-icons" onclick="clickMenu()">menu</span>
        <menu id="icons">
            <ul>
                <li><a href="#">Class</a></li>
                <li><a href="#">Online Courses</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Book Class</a></li>
            </ul>
        </menu>
    </nav>
    
    <header id="img01">
        <h1>MEET DÉBORA</h1>
        <p>CERTIFIED YOGA TEACHER</p>
    </header>

    <main>
        
            <h2>Breathe in lots of love</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sint quidem soluta asperiores est enim facere dignissimos assumenda tenetur aliquam pariatur nobis, autem, harum atque eveniet eius deserunt odio libero. <q>Lorem ipsum dolor sit amet consectetur adipisicing elit</q>. Vel excepturi aspernatur explicabo incidunt mollitia animi harum dignissimos amet ea at. Perferendis atque optio illo eius voluptas! Mollitia laboriosam voluptatibus sequi!</p>

            <p id="paragrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat mollitia soluta error ex illum voluptas nam, natus fuga autem dolore magni nisi minus cum, odio exercitationem hic velit, labore quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sint beatae veniam fugiat non adipisci quidem excepturi quam quis illo dolorem quia dolorum delectus iure, doloremque tenetur nostrum molestias esse?</p>
        
        <section>
            <h2 class="sub">yoga classes</h2>

            <img class="image" src="images/yoga02.jpg" alt="mulher meditando">
            <h3>Online yoga</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum repellat officiis itaque consectetur accusantium odio consequatur quasi ducimus hic harum. Dignissimos inventore libero eum ex accusantium magnam eos, ullam ratione!</p>
            <p><a href="">LEARN MORE > </a></p>

            <img class="image" src="images/yoga03.jpg" alt="mulher fazendo yoga">
            <h3>Group yoga</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro harum, nulla nihil tempore vero iusto velit pariatur saepe suscipit aspernatur quis in tempora esse quisquam. Tempora consequuntur vel in repellendus!</p>
            <p><a href="">LEARN MORE > </a></p>

            <img class="image" src="images/yoga05.jpg" alt="yoga">
            <h3>Yoga Fire</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat hic ex eaque repellat quos. Unde, a nisi vitae distinctio eaque obcaecati quisquam nemo, asperiores amet eveniet aperiam recusandae nostrum magni.</p>
            <p><a href="">LEARN MORE ></a></p>
        </section>


    </main>
    <footer>
        <h4>Criado por <strong>Lucas F. Vilas Boas</strong></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est debitis molestiae quaerat repudiandae sequi ea tenetur incidunt officiis aut consectetur quidem, nulla voluptatum et. Laudantium officiis suscipit natus a illum.</p>
        <p>Imagens<a href="https://unsplash.com/" target="_blank" rel="external">unsplash</a></p>
        <p>Para o<a href="https://www.cursoemvideo.com/">cursoemvideo</a></p>
    </footer>

    <script>
        function changeSize() {
            if (window.innerWidth >= 992) {
                icons.style.display = 'block'
            } else{
                icons.style.display = 'none'
            }
        }
        function clickMenu() {
            if (icons.style.display == 'block') {
                icons.style.display = 'none'
            } else {
                icons.style.display = 'block'
            }
        }
    </script>
</body>
</html>