<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css" media="all">
    <link rel="stylesheet" href="styles/media-queries.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>template</title>
</head>
<body>

    <span id="burguer" class="material-icons">menu</span>
        <menu>
            <ul>
                <li><a href="#">Class</a></li>
                <li><a href="#">Online Courses</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Book Class</a></li>
            </ul>
        </menu>
    </nav>
    <header class="image" id="img01">
        <h1>Meet Débora</h1>
        <p>Certified yoga teacher</p>
    </header>
    <main>
        <section>
            <h2>Breath in lots of love</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sint quidem soluta asperiores est enim facere dignissimos assumenda tenetur aliquam pariatur nobis, autem, harum atque eveniet eius deserunt odio libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi aspernatur explicabo incidunt mollitia animi harum dignissimos amet ea at. Perferendis atque optio illo eius voluptas! Mollitia laboriosam voluptatibus sequi!</p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat mollitia soluta error ex illum voluptas nam, natus fuga autem dolore magni nisi minus cum, odio exercitationem hic velit, labore quasi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sint beatae veniam fugiat non adipisci quidem excepturi quam quis illo dolorem quia dolorum delectus iure, doloremque tenetur nostrum molestias esse?</p>
        </section>

        <h2>Yoga Class</h2>
        <!-- <img src="images/yoha02.jpg" alt="mulher meditando"> -->
    </main>
</body>
</html>